body {
  font-family: "Poppins", sans-serif;
  background-color: #121215;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  letter-spacing: 1px;
}
.home_bg {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}
.container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-weight: bold;
}

.header {
  margin-bottom: 20px;
}

.header > div {
  color: white;
}

.header h1 {
  font-weight: bold;
}
